<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{pageTitle}}</title>
</head>
{{> header}}
<body>
<h5> {{screamIt messages}}</h5>
<h5> {{silenIt 'Abscs asds'}}</h5>
</body>


{{> footer}}
</html>